html, body {
  background-color: $app-light;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5 {
  font-weight: 200;
}

.box {
  @include box($width: 400px);
}

.nav-link {
  @include navigation-link();
}