/*
*
* Mixins
*
*/

@import './variables';

@mixin center($width: 5%) {
  width: $width;
  margin: 0 auto;
}

@mixin box($width: 200px, $bg-color: $app-white) {
  width: 100%;
  height: 100%;
  max-width: $width;
  max-height: $width;
  background-color: $bg-color;
  @include shadow();
}

@mixin shadow($x: 0px, $y: 0px, $diffusion: 30px, $spread: -3px, $color: $app-shadow) {
  -webkit-box-shadow: $x $y $diffusion $spread $color;
  -moz-box-shadow: $x $y $diffusion $spread $color;
  box-shadow: $x $y $diffusion $spread $color;
}
