/*
*
* Variables
*
*/

/* colors */
$app-white: rgb(100%, 100%, 100%);
$app-light: #ecf1f3;
$app-shadow: darken($app-light, 10%);
$app-med-light: darken($app-light, 20%);
$app-gray: rgb(163, 163, 163);
$app-dark: darken($app-gray, 20%);
$error-color: #881222;
$body-bg-color: #f2f7fa;
$app-main: #1490d3;
$robinhood-green: #5eca9c;
$robinhood-dark: #000;

/* layout */
$screen-xl: 1280px;
$screen-lg: 1024px;
$screen-md: 768px;
$screen-sm: 640px;
$screen-xs: 360px;
$header-height-lg: 50px;
$header-height-md: 50px;
$header-height-sm: 40px;
$content-height-lg: calc(100% - #{$header-height-lg});
$content-height-md: calc(100% - #{$header-height-md});
$content-height-sm: calc(100% - #{$header-height-sm});
$font-sm: 10px;
$font-md: 14px;
$font-lg: 18px;
$pref-width: 225px;

